<!doctype html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <title>Portal de cadastro - Visitantes - IFCE Campus Quixadá</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='bulma.min.css') }}">
  <style>
  .header-image {
      background-image: url("./captiveportal-background.jpg");
      background-position: center center;
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover;
      background-color: #999;
  }
  </style>
</head>

<body class="">
  <section class="hero is-fullheight has-background-info-light">
  <div class="container is-fullhd">
    <div class="section">
      <div class="columns">
        <div class="column is-full">
          <div class="box">
            <div>
              <figure class="image is-3by1">
                <img src="{{ url_for('static', filename='logo.svg') }}"/>
              </figure>
            </div> <!-- div -->
            <h3 class="title is-size-4 has-text-centered">Portal de cadastro - Visitantes</h3>
            {% if get_flashed_messages() %}
            <div class="notification is-danger">
              <ul>
              {% for message in get_flashed_messages() %}
                <li>{{ message }}</li>
              {% endfor %}
              </ul>
            </div> <!-- notification -->
            {% endif %}
            {% block content %}{% endblock %}
          </div> <!-- box -->
          {% if request.url.endswith('/user/create') %}
            {% include 'terms.html' %}
          {% endif %}
        </div> <!-- column -->
      </div> <!-- columns -->
    </div>
  </div> <!-- container -->

  <div class="hero-foot">
    <nav class="tabs">
      <div class="container has-text-centered">
        <div class="content">
          <p class="is-size-7 p-2 has-text-grey-light">versão: {{ config['VERSION'] }}</p>
        </div>
      </div>
    </nav>
  </div> <!-- hero-foot -->

  </section>
  <script text="text/javascript">
  </script>
</body>
</html>
