<div class="box">
  <div class="content" style="height:150px;overflow-x:hidden;overflow-y:auto;text-align:left;font-size:8pt;">
    <h5>Autorização para tratamento dos dados</h5>
    <p>O aceite do termo visa registrar a manifestação livre, informada e 
    inequívoca pela qual o Titular dos dados concorda com o tratamento de seus 
    dados para finalidade específica, em conformidade com a Lei nº 13.709 – 
    Lei Geral de Proteção de Dados Pessoais (LGPD).</p>

    <p>A única e exclusiva finalidade do sistema é coletar os dados e
    armazená-los para servir de autenticação do usuário.</p> 

    <p> Ao assinar o presente termo, o Titular consente e concorda que o IFCE 
    - Campus Quixadá, realize o armazenamento dos dados, envolvendo operações 
    como as que se referem a coleta e processamento.</p>
  </div> <!-- content of terms -->
</div> <!-- box -->
