{% extends 'base.html' %}

{% block content %}

<form name="" method="post" action="/user/create">
    <div class="field">
        <label for="name" class="label">Nome completo</label>
        <div class="control">
            <input 
                id="name" 
                class="input" 
                name="name"
                type="text" 
                placeholder="José Maria">
        </div> <!-- control -->
    </div> <!-- field -->
    <div class="field">
        <label for="username" class="label">Nome de usuário</label>
        <div class="control">
            <input
                id="username"
                class="input"
                name="username"
                type="text"
                placeholder="CPF">
        </div>
        <p class="help is-info">Digite o CPF sem pontos e traço. Ele será seu nome de usuário.</p>
    </div><!-- field -->
    <div class="field">
        <label for="password" class="label">Senha de acesso</label>
        <div class="control">
            <input 
                id="auth_pass"
                class="input" 
                name="password" 
                type="password" 
                placeholder="*****">
        </div> <!-- control -->
    </div><!-- field -->
    <div class="field">
        <label class="checkbox">
            <input type="checkbox"
                onchange="document.getElementById('login').disabled = !this.checked;">
                Autorizo o armazenamento dos dados preenchidos.
        </label>
    </div> <!-- field -->
    <div class="field">
        <div class="control">
            <input 
                id="login"
                class="button is-success"
                name="accept"
                type="submit"
                disabled
                onclick="document.getElementById('progress').style.display='block'"
                value="Cadastrar">
        </div> <!-- control -->
    </div> <!-- field -->
    <progress
        id="progress"
        class="progress is-small is-info"
        style="display:none"
        max="100">10%
    </progress>
</form>
{% endblock %}