{% extends 'base.html' %}

{% block content %}

<div class="content has-text-centered">
  <h1 class="title">Sucesso!</h1>
  <!--
  <a href="{{ config['WIFI_VISITANTES_CP_URL'] }}" 
    class="button is-link">Conectar à Internet</a>
  -->
  <p>
    <a href="http://10.0.20.1:8006/index.php?zone=ifce_visitantes">
    Clique aqui para se autenticar e ter acesso a Internet
    </a>
  </p>
</div>

{% endblock %}
